In [91]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import mean_squared_error
#import sys
#np.set_printoptions(threshold=sys.maxsize)

In [53]:
df = pd.read_csv("train.csv")

In [54]:
df.head()

   row_id                 time  x  y direction  congestion
0       0  1991-04-01 00:00:00  0  0        EB          70
1       1  1991-04-01 00:00:00  0  0        NB          49
2       2  1991-04-01 00:00:00  0  0        SB          24
3       3  1991-04-01 00:00:00  0  1        EB          18
4       4  1991-04-01 00:00:00  0  1        NB          60

In [55]:
df.direction.unique()

array(['EB', 'NB', 'SB', 'WB', 'NE', 'SW', 'NW', 'SE'], dtype=object)

In [56]:
#onehotencode direction

In [57]:
df.isnull().sum()

row_id        0
time          0
x             0
y             0
direction     0
congestion    0
dtype: int64

In [58]:
y = df["congestion"]
df.drop("congestion", axis = 1)

        row_id                 time  x  y direction
0            0  1991-04-01 00:00:00  0  0        EB
1            1  1991-04-01 00:00:00  0  0        NB
2            2  1991-04-01 00:00:00  0  0        SB
3            3  1991-04-01 00:00:00  0  1        EB
4            4  1991-04-01 00:00:00  0  1        NB
...        ...                  ... .. ..       ...
848830  848830  1991-09-30 11:40:00  2  3        NB
848831  848831  1991-09-30 11:40:00  2  3        NE
848832  848832  1991-09-30 11:40:00  2  3        SB
848833  848833  1991-09-30 11:40:00  2  3        SW
848834  848834  1991-09-30 11:40:00  2  3        WB

[848835 rows x 5 columns]

In [59]:
len(df)

848835

In [60]:
yr = []
mont = []
date = []
hr= []
minute = []
sec = []
time = df["time"]
for i in range(len(df)):
    yr.append(int(time[i][0:4]))
    mont.append(int(time[i][5:7]))
    date.append(int(time[i][8:10]))
    hr.append(int(time[i][11:13]))
    minute.append(int(time[i][14:16]))
    sec.append(int(time[i][17:]))

In [61]:
df["yr"] = yr
df["month"] = mont
df["date"] = date
df["hr"] = hr
df["minute"] = minute
df["sec"] = sec

In [62]:
df.head()

,row_id,time,x,y,direction,congestion,yr,month,date,hr,minute,sec
0,0,1991-04-01 00:00:00,0,0,EB,70,1991,4,1,0,0,0
1,1,1991-04-01 00:00:00,0,0,NB,49,1991,4,1,0,0,0
2,2,1991-04-01 00:00:00,0,0,SB,24,1991,4,1,0,0,0
3,3,1991-04-01 00:00:00,0,1,EB,18,1991,4,1,0,0,0
4,4,1991-04-01 00:00:00,0,1,NB,60,1991,4,1,0,0,0

In [63]:
df = df.drop("time", axis = 1)
df = df.drop("congestion",axis =1)

In [64]:
df

        row_id  x  y direction    yr  month  date  hr  minute  sec
0            0  0  0        EB  1991      4     1   0       0    0
1            1  0  0        NB  1991      4     1   0       0    0
2            2  0  0        SB  1991      4     1   0       0    0
3            3  0  1        EB  1991      4     1   0       0    0
4            4  0  1        NB  1991      4     1   0       0    0
...        ... .. ..       ...   ...    ...   ...  ..     ...  ...
848830  848830  2  3        NB  1991      9    30  11      40    0
848831  848831  2  3        NE  1991      9    30  11      40    0
848832  848832  2  3        SB  1991      9    30  11      40    0
848833  848833  2  3        SW  1991      9    30  11      40    0
848834  848834  2  3        WB  1991      9    30  11      40    0

[848835 rows x 10 columns]

In [65]:
df["coordinate_feature"] = df["x"]*df["y"]
df["feature2"] = df["yr"]*df["month"]/17919
df["feature3"] = df["month"]*df["date"]/270
df["feature4"] = df["hr"]*df["minute"]/440
df["feature5"] = df["sec"]*df["minute"]
df["feature6"] = df["sec"]*df["yr"]
df["feature7"] = df["yr"]*df["month"]*df["date"]/537570
df["feature8"] = df["coordinate_feature"] *df["month"]*df["date"]/1620
df["feature9"] = df["coordinate_feature"] *df["minute"]/240
df["featur10"] = df["coordinate_feature"] *df["hr"]*df["minute"]/2640
df["feature11"] = df["coordinate_feature"] *df["hr"]/66

In [66]:
df

,row_id,x,y,direction,yr,month,date,hr,minute,sec,...,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,featur10,feature11
0,0,0,0,EB,1991,4,1,0,0,0,...,0.444444,0.014815,0.0,0,0,0.014815,0.0,0.0,0.0,0.0
1,1,0,0,NB,1991,4,1,0,0,0,...,0.444444,0.014815,0.0,0,0,0.014815,0.0,0.0,0.0,0.0
2,2,0,0,SB,1991,4,1,0,0,0,...,0.444444,0.014815,0.0,0,0,0.014815,0.0,0.0,0.0,0.0
3,3,0,1,EB,1991,4,1,0,0,0,...,0.444444,0.014815,0.0,0,0,0.014815,0.0,0.0,0.0,0.0
4,4,0,1,NB,1991,4,1,0,0,0,...,0.444444,0.014815,0.0,0,0,0.014815,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848830,848830,2,3,NB,1991,9,30,11,40,0,...,1.000000,1.000000,1.0,0,0,1.000000,1.0,1.0,1.0,1.0
848831,848831,2,3,NE,1991,9,30,11,40,0,...,1.000000,1.000000,1.0,0,0,1.000000,1.0,1.0,1.0,1.0
848832,848832,2,3,SB,1991,9,30,11,40,0,...,1.000000,1.000000,1.0,0,0,1.000000,1.0,1.0,1.0,1.0
848833,848833,2,3,SW,1991,9,30,11,40,0,...,1.000000,1.000000,1.0,0,0,1.000000,1.0,1.0,1.0,1.0
848834,848834,2,3,WB,1991,9,30,11,40,0,...,1.000000,1.000000,1.0,0,0,1.000000,1.0,1.0,1.0,1.0

In [67]:
X = df

In [68]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [69]:
X[0]

array([1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.99100000e+03,
       4.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.44444444e-01, 1.48148148e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.48148148e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

In [70]:
y

0         70
1         49
2         24
3         18
4         60
          ..
848830    54
848831    28
848832    68
848833    17
848834    24
Name: congestion, Length: 848835, dtype: int64

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [72]:
X_train[0]

array([1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.85202000e+05, 0.00000000e+00, 2.00000000e+00, 1.99100000e+03,
       8.00000000e+00, 4.00000000e+00, 8.00000000e+00, 4.00000000e+01,
       0.00000000e+00, 0.00000000e+00, 8.88888889e-01, 1.18518519e-01,
       7.27272727e-01, 0.00000000e+00, 0.00000000e+00, 1.18518519e-01,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

# Using linear Regression

In [73]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [74]:
regressor.score(X_test,y_test)

0.18853988723873993

In [89]:
y_pred_lr = regressor.predict(X_test)

In [92]:
mean_squared_error(y_test,y_pred_lr)

228.97864367030166

# Using Random forest Regression

In [75]:
from sklearn.ensemble import RandomForestRegressor
regressor_RFR = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor_RFR.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [76]:
regressor_RFR.score(X_test,y_test)

0.7156511354340629

In [85]:
y_pred_rfr = regressor_RFR.predict(X_test)

In [93]:
mean_squared_error(y_test,y_pred_rfr)

80.23785311633003

# using SVR

In [83]:
from sklearn.svm import SVR
regressor_SVR = SVR(kernel = 'rbf',max_iter=500)
regressor_SVR.fit(X_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\svm\_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=500).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

SVR(max_iter=500)

In [84]:
regressor_SVR.score(X_test,y_test)

-0.00013532200324783972

In [87]:
y_pred_svr = regressor_SVR.predict(X_test)

In [94]:
mean_squared_error(y_test,y_pred_svr)

282.2192069796056