In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

In [2]:
df1 = pd.read_csv("train.csv")
df1.head()

   row_id                 time  x  y direction  congestion
0       0  1991-04-01 00:00:00  0  0        EB          70
1       1  1991-04-01 00:00:00  0  0        NB          49
2       2  1991-04-01 00:00:00  0  0        SB          24
3       3  1991-04-01 00:00:00  0  1        EB          18
4       4  1991-04-01 00:00:00  0  1        NB          60

In [3]:
df1.isna().sum()

row_id        0
time          0
x             0
y             0
direction     0
congestion    0
dtype: int64

In [4]:
df1['time'][152500]

'1991-05-03 16:40:00'

In [5]:
year = []
month = []
day = []
hour = []
minute = []
second = []

time = df1['time']

for i in range(len(df1)):
    year.append(int(time[i][0:4]))
    month.append(int(time[i][5:7]))
    day.append(int(time[i][8:10]))
    hour.append(int(time[i][11:13]))
    minute.append(int(time[i][14:16]))
    second.append(int(time[i][17:]))

In [6]:
df2 = pd.DataFrame({'year':year,'month':month,'day':day,'hour':hour,'minute':minute,'second':second})
df2.head()

   year  month  day  hour  minute  second
0  1991      4    1     0       0       0
1  1991      4    1     0       0       0
2  1991      4    1     0       0       0
3  1991      4    1     0       0       0
4  1991      4    1     0       0       0

In [7]:
df2.drop(['year','second'],axis=1,inplace=True)

In [8]:
df2.head()

   month  day  hour  minute
0      4    1     0       0
1      4    1     0       0
2      4    1     0       0
3      4    1     0       0
4      4    1     0       0

In [9]:
j = 0
dayss = [1,2,3,4,5,6,7]
day_of_week = []
day_tm = df2['day']

temp = day_tm[0]
day_of_week.append(dayss[j])

for i in range(1,len(df1)):
    if (j>=7):
        j-=7
        
    if (temp==day_tm[i]):
        day_of_week.append(dayss[j])
    else:
        j+=1
        if (j>=7):
            j-=7
        
        day_of_week.append(dayss[j])
    
    temp = day_tm[i]

In [10]:
df2['day_of_week'] = day_of_week

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848835 entries, 0 to 848834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   month        848835 non-null  int64
 1   day          848835 non-null  int64
 2   hour         848835 non-null  int64
 3   minute       848835 non-null  int64
 4   day_of_week  848835 non-null  int64
dtypes: int64(5)
memory usage: 32.4 MB

In [12]:
df3 = pd.concat([df1,df2],axis=1)
df3.head()

,row_id,time,x,y,direction,congestion,month,day,hour,minute,day_of_week
0,0,1991-04-01 00:00:00,0,0,EB,70,4,1,0,0,1
1,1,1991-04-01 00:00:00,0,0,NB,49,4,1,0,0,1
2,2,1991-04-01 00:00:00,0,0,SB,24,4,1,0,0,1
3,3,1991-04-01 00:00:00,0,1,EB,18,4,1,0,0,1
4,4,1991-04-01 00:00:00,0,1,NB,60,4,1,0,0,1

In [13]:
le = LabelEncoder()

df3['Direction'] = le.fit_transform(df3['direction'])
df3.head()

,row_id,time,x,y,direction,congestion,month,day,hour,minute,day_of_week,Direction
0,0,1991-04-01 00:00:00,0,0,EB,70,4,1,0,0,1,0
1,1,1991-04-01 00:00:00,0,0,NB,49,4,1,0,0,1,1
2,2,1991-04-01 00:00:00,0,0,SB,24,4,1,0,0,1,4
3,3,1991-04-01 00:00:00,0,1,EB,18,4,1,0,0,1,0
4,4,1991-04-01 00:00:00,0,1,NB,60,4,1,0,0,1,1

In [14]:
df3.drop(['direction','row_id','time'],axis=1,inplace=True)
df3.head()

   x  y  congestion  month  day  hour  minute  day_of_week  Direction
0  0  0          70      4    1     0       0            1          0
1  0  0          49      4    1     0       0            1          1
2  0  0          24      4    1     0       0            1          4
3  0  1          18      4    1     0       0            1          0
4  0  1          60      4    1     0       0            1          1

In [15]:
df3['congestion'] = df3['congestion']/max(df3['congestion'])

In [16]:
X = df3.drop(['congestion'],axis=1)
y = df3['congestion']

In [17]:
y.head()

0    0.70
1    0.49
2    0.24
3    0.18
4    0.60
Name: congestion, dtype: float64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
lin_reg = LinearRegression()
rforest = RandomForestRegressor(n_estimators= 10, random_state=100)

lin_reg.fit(X_train,y_train)
rforest.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=100)

In [24]:
print("Linear Regression Score is: ",lin_reg.score(X_test,y_test))
print("Random Forest Regression Score is: ",rforest.score(X_test,y_test))

Linear Regression Score is:  0.03774559267337585
Random Forest Regression Score is:  0.7280420159593666

In [25]:
lpred = lin_reg.predict(X_test)
rpred = rforest.predict(X_test)

print("MSE for Linear Regression: ",mean_squared_error(y_test,lpred))
print("MSE for Random Forest Regression: ",mean_squared_error(y_test,rpred))

MSE for Linear Regression:  0.027088553679574214
MSE for Random Forest Regression:  0.007655925910218124